# Игнорировать приватные данные
**/secrets.yaml
**/*secret*
**/secrets/
**/.env

# Игнорировать кеши
**/.cache/
**/cache/
__pycache__/
*.pyc

# Игнорировать плагины (если используешь plugin manager)
**/nvim/plugin/
**/zsh/plugins/

# Логи
*.log
qtile/.config/qtile/wallpapers/

# Обои и медиа
**/wallpapers/
**/backgrounds/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.mp4
*.mkv

# Большие файлы
*.iso
*.tar.gz
*.zip

# Temporaries
*.swp
*.swo
*~
.DS_Store
