configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    font: "Noto Sans 25";
}

@import "~/.cache/wal/colors-rofi.rasi"

//@theme "/usr/share/rofi/themes/arthur.rasi"

//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/usr/share/rofi/themes/docu.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/Monokai.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/docu.rasi"

@theme "/usr/share/rofi/themes/DarkBlue.rasi"
